{% extends 'base.html.twig' %}

{% set title = "Les statuts demande d'aide" %}
{% block header %}
    <a href="{{ path('help_statut_new') }}" class="btn btn-primary">Ajouter un statut</a>
{% endblock %}
