{% extends 'base.html.twig' %}

{% block title %}Hello GoogleMapsController!{% endblock %}
{% set title = "La carte" %}
{% set datatable = true %}
{% block header %}
    <p>Pour zoomer / dezoomer sur la carte : <strong>CTRL + MOLETTE DE LA SOURIS</strong></p>
{% endblock %}
{% block stylesheets %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key={{google_maps_api_key}}&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div id="map" style="height: 100vh"></div>
        <hr class="mt-5">
        <h1>Légende :</h1>
        <table id="legendTable" class="table w-100 dt-table responsive display nowrap">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Couleur</th>
                </tr>
            </thead>
            <tbody>
            {% for statut in statuts %}
                <tr>
                    <td>
                        {{statut.name}}
                    </td>
                    <td>
                        <span class="badge" style="background-color: {{statut.color}}">
                        {{statut.color}}
                        </span>
                    </td>
                </tr>
            {% endfor %}
                <tr>
                    <td>
                        Aucun statut de dossier
                    </td>
                    <td>
                        <span class="badge text-white" style="background-color: black">
                            Noir
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        var map;
        var geocoder;

        function initMap() {
            var latlng = new google.maps.LatLng(46.232192999999995, 2.209666999999996);
            var mapOptions = {
                zoom: 5,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            map = new google.maps.Map(document.getElementById("map"), mapOptions);
            fetch('/maps/addresses', {
                method: 'POST'
            }).then(response => response.json())
            .then(addresses => {
                for(var i = 0; i < addresses.length; i++){
                    var color = addresses[i].color;
                      const symbolThree = {
                        path: 'M 0,0 C -2,-20 -10,-22 -10,-30 A 10,10 0 1,1 10,-30 C 10,-22 2,-20 0,0 z',
                        fillColor: color ?? 'black',
                        fillOpacity: 1,
                        strokeColor: '#000',
                        strokeWeight: 1,
                        scale: 1
                    };
                    var marker = new google.maps.Marker({
                        map: map,
                        icon: symbolThree,
                        position: {lat: addresses[i].lat, lng: addresses[i].lng}
                    })
                    marker.addListener("click", toggleBounce(marker));
                }
            })
        }
        
        function toggleBounce(marker) {
            if (marker.getAnimation() !== null) {
                marker.setAnimation(null);
            } else {
                marker.setAnimation(google.maps.Animation.BOUNCE);
            }
        }
    </script>
{% endblock %}

