<form method="post" action="{{ path('sms_auto_delete', {'global': app.session.get('global'), 'id': sms_auto.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sms_auto.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
