{% extends 'base.html.twig' %}

{% set title = "Les sms automatiques" %}

{% block header %}
    <a class="btn btn-primary" href="{{ path('sms_auto_new', {'global': app.session.get('global')}) }}">Ajouter un sms automatique</a>
{% endblock %}
