{% extends 'base.html.twig' %}

{% set title = "Ajouter un sms automatique" %}
{% set require = true %}
{% block header %}
    <a href="{{ path('sms_auto_index') }}" class="btn btn-primary">Retour</a>
{% endblock %}
{% block body %}

    {{ include('sms_auto/_form.html.twig') }}
{% endblock %}
