{% extends 'base.html.twig' %}

{% set title = "Modifier le produit" %}
{% block header %}
    <div class="row justify-content-end">
        <a href="{{ path('provider_product_index') }}" class="btn btn-primary">Retour</a>

        {{ include('provider_product/_delete_form.html.twig') }}
    </div>
{% endblock %}
{% block body %}
    {{ include('provider_product/_form.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}
{% block javascripts %}
    <script>$('#provider_product_params').dropdown();</script>
{% endblock %}
