{% extends "base.html.twig" %}
{% set title = "Les envois automatique" %}
{% block header %}
<div class="row justify-content-end">
    {% if is_granted('ROLE_DEVELOPER') %}
        <a href="{{path('sms_auto_new')}}" class="btn btn-primary">Ajouter un sms automatique</a>
    {% endif %}
    <a href="{{ path('sms_index') }}" class="btn btn-primary">Voir l'historique</a>
</div>
{% endblock %}