{% if alert %}
    <div class="alert alert-success alert-dismissible fade show" role="alert" id='alert'>
        <strong>{{alert.getName}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" onClick="dismissAlert()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <script>
        if(localStorage.getItem('alert') === "false"){
            const alert = document.getElementById('alert');
            alert.classList.remove('show');
        }
        const dismissAlert = () => {
            localStorage.setItem('alert', false);
        }
    </script>
{% endif %}
