{% extends 'base.html.twig' %}

{% set title = "Modifier un fichier" %}
{% set require = true %}
{% block header %}
    <div class="row justify-content-end">
        <a href="{{ path('files_index', {'id': customer_id}) }}" class="btn btn-primary">Retour</a>
        {{ include('files/_delete_form.html.twig') }}
    </div>
{% endblock %}
{% block body %}
    {{ include('files/_update_form.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}
