{% extends 'base.html.twig' %}

{% set title = "Voir les tickets" %}

{% block header %}
    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('ticket_new') }}" class="btn btn-primary">Créer un ticket</a>
    {% endif %}
{% endblock %}
