{% extends 'base.html.twig' %}

{% block title %}New Ticket{% endblock %}
{% set title = "Créer un ticket" %}
{% set require = true %}
{% block header %}
    <a href="{{ path('ticket_index') }}" class="btn btn-primary">Retour</a>
{% endblock %}
{% block body %}
    {{ include('ticket/_form.html.twig') }}
{% endblock %}
{% block stylesheets %}
    <link href="{{asset('assets/js/plugins/semantic/semantic.min.css')}}" rel="stylesheet">
{% endblock %}
{% block javascripts %}
    <script src="{{asset('assets/js/plugins/semantic/semantic.js')}}"></script>
    <script>
        $("#ticket_customer_file").dropdown({
            multiple: false,
            clearable: true
        })
    </script>
{% endblock %}