{% extends 'base.html.twig' %}

{% block title %}Modifier un statut{% endblock %}
{% set title = "Modifier le statut" %}
{% block header %}
    <div class="row justify-content-end">
        <a href="{{ path('customer_files_statut_index') }}" class="btn btn-primary mx-2">Retour</a>
        {{ include('customer_files_statut/_delete_form.html.twig') }}
    </div>
{% endblock %}
{% block body %}

    {{ include('customer_files_statut/_form.html.twig', {'button_label': 'Modifier'}) }}
    
{% endblock %}
