{% extends 'base.html.twig' %}

{% block title %}New CustomerFiles{% endblock %}
{% set title = "Créer une nouvelle fiche client" %}
{% block header %}
    <a href="{{ path('default') }}" class="btn btn-primary">Retour</a>
{% endblock %}
{% block body %}
    {{ include('customer_files/_form.html.twig') }}
{% endblock %}
{% block stylesheets %}
        <link href="{{asset('assets/js/plugins/semantic/semantic.min.css')}}" rel="stylesheet">
{% endblock %}
{% block javascripts %}
    <script src="{{asset('assets/js/plugins/semantic/semantic.js')}}"></script>
    <script>
        $('#customer_files_users_id').dropdown();
    </script>
{% endblock %}
