{% extends 'base.html.twig' %}

{% set title = "Créer une nouvelle fiche client" %}
{% set require = true %}
{% block header %}
    <a href="{{ path('default') }}" class="btn btn-primary">Retour</a>
{% endblock %}
{% block body %}
    {{ include('customer_files/_form.html.twig') }}
{% endblock %}
{% block javascripts %}
  {% include "customer_files/javascripts.html.twig" %}
{% endblock %}
