<footer class="footer" style="margin: auto 0 0 0;">
    <div class="container-fluid">
          <nav class="float-left">
            <a href="http://intranetv2.lergonhome.fr/">
                  Intranetv2 Lergon'Home
            </a>
          </nav>
        <div class="copyright float-right">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script> by
            <a href="https://www.linkedin.com/in/ilan-journo-42b22a198/" target="_blank">Ilan JOURNO</a>.
        </div>
    </div>
</footer>