{% extends 'base.html.twig' %}

{% set title = "Modifier le statut client" %}
{% block header %}
    <div class="row justify-content-end">
        <a href="{{ path('client_statut_index') }}" class="btn btn-primary">Retour</a>
        {{ include('client_statut/_delete_form.html.twig') }}
    </div>
{% endblock %}
{% block body %}
    {{ include('client_statut/_form.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}
