{% extends 'base.html.twig' %}

{% set title = "Gérer les statuts clients" %}
{% block header %}
     <a href="{{ path('client_statut_new') }}" class="btn btn-primary">Ajouter un statut client</a>
{% endblock %}