{% extends 'base.html.twig' %}

{% set title = "Créer un statut client" %}
{% block header %}
    <a href="{{ path('client_statut_index') }}" class="btn btn-primary">Retour</a>
{% endblock %}
{% block body %}
    {{ include('client_statut/_form.html.twig') }}
{% endblock %}
