{% extends 'base.html.twig' %}

{% set title = "Modifier un document" %}
{% block header %}
    <div class="row justify-content-end">
        <a href="{{ path('client_statut_document_index') }}" class="btn btn-primary">Retour</a>
        {{ include('client_statut_document/_delete_form.html.twig') }}
    </div>
{% endblock %}
{% block body %}
    {{ include('client_statut_document/_form.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}
{% block javascripts %}
    <script>
        $('#client_statut_document_client_statut').dropdown();
    </script>
{% endblock %}

