{% extends 'base.html.twig' %}

{% set title = "Gérer les documents" %}
{% block header %}
    <a href="{{ path('client_statut_document_new') }}" class="btn btn-primary">Ajouter un document</a>
{% endblock %}
