{% extends 'base.html.twig' %}

{% set title = "Gérer les statuts de ticket" %}
{% block header %}
    <a href="{{ path('ticket_statut_new', {'global': app.session.get('global') }) }}" class="btn btn-primary">Créer un statut</a>
{% endblock %}
