{% extends 'base.html.twig' %}

{% set title = "Modifier la paramètre" %}
{% block header %}
    <div class="row justify-content-end">
        <a href="{{ path('provider_param_index') }}" class="btn btn-primary">Retour</a>

        {{ include('provider_param/_delete_form.html.twig') }}
    </div>
{% endblock %}
{% block body %}
    {{ include('provider_param/_form.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}
