{% extends 'base.html.twig' %}

{% set title = "Gérer les paramètres" %}
{% block header %}
    <a href="{{ path('provider_param_new') }}" class="btn btn-primary">Créer un paramètre</a>
{% endblock %}
