{% extends 'base.html.twig' %}

{% block title %} Les utilisateurs {% endblock %}
{% set title = "Gérer vos utilisateurs !" %}
{% block header %}
    <a href="{{path('app_register')}}" class="btn btn-primary">Ajouter un utilisateur</a>
{% endblock %}
